@import "./variable.scss";
@import "./util.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
	/* default font-size: 16px -> 62.5% * 16px = 10px */
	/* => 1rem = 8px*/
	font-size: 50% !important;
	@include mq("tablet") {
		/* => 1rem = 10px*/
		font-size: 62.5% !important;
	}
}

.fortfolio__wrapper {
	overflow: auto;
	position: relative;
	height: 100%;
	width: 100%;
}
