@import "../module/Glassmorphism/styles/glassVariable.scss";
@import "../module/Neumorphism/styles/neuVariable.scss";
:root {
	--navigation-toggle-background: #000;
	--navigation-toggle-color: #fff;

	--theme-selector-toggle-background: #fff;
	--theme-selector-toggle-color: #000;

	--font-size-title-large: 4.4rem;
	--line-height-title-large: 5.8rem;

	--font-size-text-medium: 3.6rem;
	--line-height-text-medium: 4.8rem;

	--font-size-text-small: 2rem;
	--line-height-text-small: 2.8rem;

	--font-size-text-main: 22rem;
	--line-height-text-main: 23.4rem;
}

$mobile-only: "screen and (max-width: 480px)";
$tablet: "screen and (min-width: 641px)";
$lap: "screen and (min-width: 1008px)";
$desk: "screen and (min-width: 1024px)";
$widescreen: "screen and (min-width: 1240px)";
$xl: "screen and (min-width: 1440px)";
$xxl: "screen and (min-width: 1536px)";

@mixin mq($alias) {
	@if $alias == "tablet" {
		@media #{$tablet} {
			@content;
		}
	} @else if $alias == "lap" {
		@media #{$lap} {
			@content;
		}
	} @else if $alias == "desk" {
		@media #{$desk} {
			@content;
		}
	} @else if $alias == "widescreen" {
		@media #{$widescreen} {
			@content;
		}
	} @else if $alias == "mobile-only" {
		@media #{$mobile-only} {
			@content;
		}
	} @else if $alias == "xl" {
		@media #{$xl} {
			@content;
		}
	} @else if $alias == "xxl" {
		@media #{$xxl} {
			@content;
		}
	}
}

@mixin centerAbsolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin centerRelative {
	display: flex;
	justify-content: center;
	align-items: center;
}
// Ex:
// @include mq("tablet") {
//   font-size: 62.5%;
// }

/* NOTE:  @deprecated in the future
  use @extend .custom-scrollbar; instead
*/
