.glass-home__nav-card-title--color-0 {
	background-color: var(--glass-title--color-0);
}
.glass-home__nav-card-title--color-1 {
	background-color: var(--glass-title--color-1);
}
.glass-home__nav-card-title--color-2 {
	background-color: var(--glass-title--color-2);
}
.glass-home__nav-card-title--color-3 {
	background-color: var(--glass-title--color-3);
}
.glass-home__nav-card-title--color-4 {
	background-color: var(--glass-title--color-4);
}
.glass-home__nav-card-title--color-5 {
	background-color: var(--glass-title--color-5);
}
